################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/back-end/ProjectApi/.vs/ProjectApi/FileContentIndex
/back-end/ProjectApi/Application/obj/Debug/net6.0/Application.csproj.AssemblyReference.cache
/.vs/slnx.sqlite
/back-end/ProjectApi/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
/back-end/ProjectApi/WebApi/obj/Debug/net6.0/WebApi.csproj.AssemblyReference.cache
/back-end/ProjectApi/AppDomain/bin/Debug/net6.0/AppDomain.dll
/back-end/ProjectApi/AppDomain/obj/Debug/net6.0/ref/AppDomain.dll
/back-end/ProjectApi/AppDomain/obj/Debug/net6.0/refint/AppDomain.dll
/back-end/ProjectApi/AppDomain/obj/Debug/net6.0/AppDomain.assets.cache
/back-end/ProjectApi/AppDomain/obj/Debug/net6.0/AppDomain.csproj.AssemblyReference.cache
/back-end/ProjectApi/AppDomain/obj/Debug/net6.0/AppDomain.csproj.CoreCompileInputs.cache
/back-end/ProjectApi/AppDomain/obj/Debug/net6.0/AppDomain.dll
/back-end/ProjectApi/AppDomain/obj/Debug/net6.0/AppDomain.GeneratedMSBuildEditorConfig.editorconfig
/back-end/ProjectApi/AppDomain/obj/Debug/net6.0/AppDomain.pdb
/back-end/ProjectApi/AppDomain/obj/AppDomain.csproj.nuget.dgspec.json
/back-end/ProjectApi/AppDomain/obj/AppDomain.csproj.nuget.g.props
/back-end/ProjectApi/AppDomain/obj/project.assets.json
/back-end/ProjectApi/AppDomain/obj/project.nuget.cache
/back-end/ProjectApi/Application/bin/Debug/net6.0/AppDomain.dll
/back-end/ProjectApi/Application/bin/Debug/net6.0/AppDomain.pdb
/back-end/ProjectApi/Application/bin/Debug/net6.0/Application.dll
/back-end/ProjectApi/Application/bin/Debug/net6.0/Application.pdb
/back-end/ProjectApi/Application/obj/Debug/net6.0/ref/Application.dll
/back-end/ProjectApi/Application/obj/Application.csproj.nuget.dgspec.json
/back-end/ProjectApi/Application/obj/Application.csproj.nuget.g.props
/back-end/ProjectApi/Application/obj/Debug/net6.0/Application.assets.cache
/back-end/ProjectApi/Application/obj/Debug/net6.0/Application.csproj.CoreCompileInputs.cache
/back-end/ProjectApi/Application/obj/Debug/net6.0/Application.dll
/back-end/ProjectApi/Application/obj/Debug/net6.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/back-end/ProjectApi/Application/obj/Debug/net6.0/Application.pdb
/back-end/ProjectApi/Application/obj/Debug/net6.0/refint/Application.dll
/back-end/ProjectApi/Application/obj/project.assets.json
/back-end/ProjectApi/Application/obj/project.nuget.cache
/back-end/ProjectApi/Infrastructure/bin/Debug/net6.0/AppDomain.dll
/back-end/ProjectApi/Infrastructure/bin/Debug/net6.0/AppDomain.pdb
/back-end/ProjectApi/Infrastructure/bin/Debug/net6.0/Application.dll
/back-end/ProjectApi/Infrastructure/bin/Debug/net6.0/Application.pdb
/back-end/ProjectApi/Infrastructure/bin/Debug/net6.0/Infrastructure.dll
/back-end/ProjectApi/Infrastructure/bin/Debug/net6.0/Infrastructure.pdb
/back-end/ProjectApi/Infrastructure/obj/Debug/net6.0/ref/Infrastructure.dll
/back-end/ProjectApi/Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
/back-end/ProjectApi/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.CoreCompileInputs.cache
/back-end/ProjectApi/Infrastructure/obj/Debug/net6.0/Infrastructure.dll
/back-end/ProjectApi/Infrastructure/obj/Debug/net6.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/back-end/ProjectApi/Infrastructure/obj/Debug/net6.0/Infrastructure.pdb
/back-end/ProjectApi/Infrastructure/obj/Debug/net6.0/refint/Infrastructure.dll
/back-end/ProjectApi/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/back-end/ProjectApi/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/back-end/ProjectApi/Infrastructure/obj/project.assets.json
/back-end/ProjectApi/Infrastructure/obj/project.nuget.cache
/back-end/ProjectApi/WebApi/bin/Debug/net6.0/AppDomain.dll
/back-end/ProjectApi/WebApi/bin/Debug/net6.0/AppDomain.pdb
/back-end/ProjectApi/WebApi/bin/Debug/net6.0/Application.dll
/back-end/ProjectApi/WebApi/bin/Debug/net6.0/Application.pdb
/back-end/ProjectApi/WebApi/bin/Debug/net6.0/Infrastructure.dll
/back-end/ProjectApi/WebApi/bin/Debug/net6.0/Infrastructure.pdb
/back-end/ProjectApi/WebApi/bin/Debug/net6.0/project.xml
/back-end/ProjectApi/WebApi/bin/Debug/net6.0/WebApi.dll
/back-end/ProjectApi/WebApi/bin/Debug/net6.0/WebApi.exe
/back-end/ProjectApi/WebApi/bin/Debug/net6.0/WebApi.pdb
/back-end/ProjectApi/WebApi/obj/Debug/net6.0/ref/WebApi.dll
/back-end/ProjectApi/WebApi/obj/Debug/net6.0/project.xml
/back-end/ProjectApi/WebApi/obj/Debug/net6.0/refint/WebApi.dll
/back-end/ProjectApi/WebApi/obj/Debug/net6.0/WebApi.assets.cache
/back-end/ProjectApi/WebApi/obj/Debug/net6.0/WebApi.csproj.CoreCompileInputs.cache
/back-end/ProjectApi/WebApi/obj/Debug/net6.0/WebApi.dll
/back-end/ProjectApi/WebApi/obj/Debug/net6.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
/back-end/ProjectApi/WebApi/obj/Debug/net6.0/WebApi.pdb
/back-end/ProjectApi/WebApi/obj/project.assets.json
/back-end/ProjectApi/WebApi/obj/project.nuget.cache
/back-end/ProjectApi/WebApi/obj/WebApi.csproj.nuget.dgspec.json
/back-end/ProjectApi/WebApi/obj/WebApi.csproj.nuget.g.props
/back-end/ProjectApi/AppDomain/bin/Debug/net6.0/AppDomain.pdb
back-end/ProjectApi/Application/obj/Debug/net6.0/Application.csproj.AssemblyReference.cache
